--
-- PostgreSQL database dump
--

\restrict RVNTXNHGPsYdxZPcZEQDzm1AsyonsmAtvN83AZhp9HXak8b6bdhWdTLfllKCml6

-- Dumped from database version 17.10
-- Dumped by pg_dump version 17.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    role character varying(30) NOT NULL,
    profile_image character varying(100),
    is_active boolean NOT NULL,
    branch_id bigint,
    created_at timestamp with time zone
);


ALTER TABLE public.accounts_user OWNER TO postgres;

--
-- Name: accounts_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.accounts_user_groups OWNER TO postgres;

--
-- Name: accounts_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.accounts_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.accounts_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.accounts_user_user_permissions OWNER TO postgres;

--
-- Name: accounts_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.accounts_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_academicsession; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_academicsession (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_active boolean NOT NULL,
    year character varying(20) NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    is_current boolean NOT NULL,
    created_by_id bigint,
    is_deleted boolean NOT NULL,
    updated_by_id bigint
);


ALTER TABLE public.core_academicsession OWNER TO postgres;

--
-- Name: core_academicsession_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_academicsession ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_academicsession_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_branch; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_branch (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_active boolean NOT NULL,
    name character varying(255) NOT NULL,
    code character varying(50) NOT NULL,
    address text NOT NULL,
    phone character varying(20) NOT NULL,
    email character varying(254),
    created_by_id bigint,
    is_deleted boolean NOT NULL,
    updated_by_id bigint
);


ALTER TABLE public.core_branch OWNER TO postgres;

--
-- Name: core_branch_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_branch ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_branch_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: inventory_product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_product (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    price numeric(10,2) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    branch_id bigint,
    created_by_id bigint,
    is_active boolean NOT NULL,
    is_deleted boolean NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    updated_by_id bigint
);


ALTER TABLE public.inventory_product OWNER TO postgres;

--
-- Name: inventory_product_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inventory_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: permissionsystem_permissionmodule; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permissionsystem_permissionmodule (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_active boolean NOT NULL,
    is_deleted boolean NOT NULL,
    name character varying(100) NOT NULL,
    code character varying(100) NOT NULL,
    description text,
    created_by_id bigint,
    updated_by_id bigint
);


ALTER TABLE public.permissionsystem_permissionmodule OWNER TO postgres;

--
-- Name: permissionsystem_permissionmodule_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.permissionsystem_permissionmodule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.permissionsystem_permissionmodule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: permissionsystem_rolepermission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permissionsystem_rolepermission (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_active boolean NOT NULL,
    is_deleted boolean NOT NULL,
    role character varying(30) NOT NULL,
    can_view boolean NOT NULL,
    can_create boolean NOT NULL,
    can_update boolean NOT NULL,
    can_delete boolean NOT NULL,
    created_by_id bigint,
    module_id bigint NOT NULL,
    updated_by_id bigint
);


ALTER TABLE public.permissionsystem_rolepermission OWNER TO postgres;

--
-- Name: permissionsystem_rolepermission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.permissionsystem_rolepermission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.permissionsystem_rolepermission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: accounts_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: accounts_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.accounts_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: accounts_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.accounts_user_user_permissions (id, user_id, permission_id) FROM stdin;
1	3	24
2	3	17
3	3	15
4	3	33
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: core_academicsession; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.core_academicsession (id, created_at, updated_at, is_active, year, start_date, end_date, is_current, created_by_id, is_deleted, updated_by_id) FROM stdin;
1	2026-05-21 23:20:48.128177+06	2026-05-21 23:20:48.128199+06	t	2025	2025-01-01	2025-12-31	t	\N	f	\N
\.


--
-- Data for Name: core_branch; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.core_branch (id, created_at, updated_at, is_active, name, code, address, phone, email, created_by_id, is_deleted, updated_by_id) FROM stdin;
1	2026-05-21 23:21:58.746833+06	2026-05-21 23:22:04.316584+06	t	Main Campus	Main	Dhaka	01618216985	admin@test.com	\N	f	\N
2	2026-05-22 00:23:48.388313+06	2026-05-22 00:23:48.388324+06	t	Gaibandha	Sub-Gaibandha	gaibandha Sadar	017000000	gaibandha3@test.com	1	f	1
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	group
3	auth	permission
4	contenttypes	contenttype
5	sessions	session
6	inventory	product
7	accounts	user
8	core	academicsession
9	core	branch
10	permissionsystem	permissionmodule
11	permissionsystem	rolepermission
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
5te962w2d7w6o5v0mlqeqx2bi1idehmj	.eJxVjMsOwiAQRf-FtSG8BtCl-34DAWaQqoGktCvjv2uTLnR7zzn3xULc1hq2QUuYkV2YZKffLcX8oLYDvMd26zz3ti5z4rvCDzr41JGe18P9O6hx1G-tkyvqjAKMROmLTiU7b50AJDIgkkPvlYk-Fq-c0QBOCStVtqSNEEDs_QHRPzbn:1wQ63s:9kl1kMeH_eC67hWj6ew-Zcje3_iKM9mer0ocyYxckvo	2026-06-04 22:15:52.363576+06
\.


--
-- Data for Name: inventory_product; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventory_product (id, name, price, created_at, branch_id, created_by_id, is_active, is_deleted, updated_at, updated_by_id) FROM stdin;
\.


--
-- Data for Name: permissionsystem_permissionmodule; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.permissionsystem_permissionmodule (id, created_at, updated_at, is_active, is_deleted, name, code, description, created_by_id, updated_by_id) FROM stdin;
1	2026-05-22 20:49:16.883153+06	2026-05-22 20:49:16.883166+06	t	f	Shafin	Sub-Gaibandha	die	1	1
4	2026-05-22 20:59:40.995137+06	2026-05-22 20:59:40.995152+06	t	f	Exam	exam	\N	\N	\N
2	2026-05-22 20:58:13.68661+06	2026-05-22 21:10:05.331539+06	t	f	Finance	finance	\N	\N	\N
7	2026-05-22 21:21:16.484049+06	2026-05-22 21:21:16.48406+06	t	f	Main Campus	Main	123	2	1
\.


--
-- Data for Name: permissionsystem_rolepermission; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.permissionsystem_rolepermission (id, created_at, updated_at, is_active, is_deleted, role, can_view, can_create, can_update, can_delete, created_by_id, module_id, updated_by_id) FROM stdin;
1	2026-05-22 20:49:23.160839+06	2026-05-22 20:49:23.16085+06	t	f	accountant	t	f	f	f	1	1	1
5	2026-05-22 21:13:15.80421+06	2026-05-22 21:13:15.804223+06	t	f	accountant	t	t	f	f	\N	2	\N
6	2026-05-22 21:21:46.190899+06	2026-05-22 21:21:46.190909+06	t	f	guardian	t	f	f	f	2	4	1
4	2026-05-22 21:04:25.643785+06	2026-05-22 21:22:23.415823+06	t	f	teacher	t	t	t	t	\N	4	\N
\.


--
-- Name: accounts_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_user_groups_id_seq', 1, false);


--
-- Name: accounts_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_user_id_seq', 3, true);


--
-- Name: accounts_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_user_user_permissions_id_seq', 4, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 44, true);


--
-- Name: core_academicsession_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_academicsession_id_seq', 1, true);


--
-- Name: core_branch_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_branch_id_seq', 2, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 12, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 11, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 28, true);


--
-- Name: inventory_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventory_product_id_seq', 1, false);


--
-- Name: permissionsystem_permissionmodule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.permissionsystem_permissionmodule_id_seq', 7, true);


--
-- Name: permissionsystem_rolepermission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.permissionsystem_rolepermission_id_seq', 6, true);


--
-- Name: accounts_user_groups accounts_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_groups accounts_user_groups_user_id_group_id_59c0b32f_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_user_id_group_id_59c0b32f_uniq UNIQUE (user_id, group_id);


--
-- Name: accounts_user accounts_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_user_permissions accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq UNIQUE (user_id, permission_id);


--
-- Name: accounts_user_user_permissions accounts_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: accounts_user accounts_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_username_key UNIQUE (username);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: core_academicsession core_academicsession_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_academicsession
    ADD CONSTRAINT core_academicsession_pkey PRIMARY KEY (id);


--
-- Name: core_branch core_branch_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_branch
    ADD CONSTRAINT core_branch_code_key UNIQUE (code);


--
-- Name: core_branch core_branch_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_branch
    ADD CONSTRAINT core_branch_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: inventory_product inventory_product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_product
    ADD CONSTRAINT inventory_product_pkey PRIMARY KEY (id);


--
-- Name: permissionsystem_permissionmodule permissionsystem_permissionmodule_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissionsystem_permissionmodule
    ADD CONSTRAINT permissionsystem_permissionmodule_code_key UNIQUE (code);


--
-- Name: permissionsystem_permissionmodule permissionsystem_permissionmodule_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissionsystem_permissionmodule
    ADD CONSTRAINT permissionsystem_permissionmodule_name_key UNIQUE (name);


--
-- Name: permissionsystem_permissionmodule permissionsystem_permissionmodule_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissionsystem_permissionmodule
    ADD CONSTRAINT permissionsystem_permissionmodule_pkey PRIMARY KEY (id);


--
-- Name: permissionsystem_rolepermission permissionsystem_rolepermission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissionsystem_rolepermission
    ADD CONSTRAINT permissionsystem_rolepermission_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_branch_id_38ec6caf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_branch_id_38ec6caf ON public.accounts_user USING btree (branch_id);


--
-- Name: accounts_user_groups_group_id_bd11a704; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_groups_group_id_bd11a704 ON public.accounts_user_groups USING btree (group_id);


--
-- Name: accounts_user_groups_user_id_52b62117; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_groups_user_id_52b62117 ON public.accounts_user_groups USING btree (user_id);


--
-- Name: accounts_user_user_permissions_permission_id_113bb443; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_user_permissions_permission_id_113bb443 ON public.accounts_user_user_permissions USING btree (permission_id);


--
-- Name: accounts_user_user_permissions_user_id_e4f0a161; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_user_permissions_user_id_e4f0a161 ON public.accounts_user_user_permissions USING btree (user_id);


--
-- Name: accounts_user_username_6088629e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_username_6088629e_like ON public.accounts_user USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: core_academicsession_created_by_id_13b4d0bf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_academicsession_created_by_id_13b4d0bf ON public.core_academicsession USING btree (created_by_id);


--
-- Name: core_academicsession_updated_by_id_d61ddda3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_academicsession_updated_by_id_d61ddda3 ON public.core_academicsession USING btree (updated_by_id);


--
-- Name: core_branch_code_552ac947_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_branch_code_552ac947_like ON public.core_branch USING btree (code varchar_pattern_ops);


--
-- Name: core_branch_created_by_id_206afc8e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_branch_created_by_id_206afc8e ON public.core_branch USING btree (created_by_id);


--
-- Name: core_branch_updated_by_id_806effbf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_branch_updated_by_id_806effbf ON public.core_branch USING btree (updated_by_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: inventory_product_branch_id_f769f319; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_product_branch_id_f769f319 ON public.inventory_product USING btree (branch_id);


--
-- Name: inventory_product_created_by_id_acb3b5df; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_product_created_by_id_acb3b5df ON public.inventory_product USING btree (created_by_id);


--
-- Name: inventory_product_updated_by_id_3c089172; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_product_updated_by_id_3c089172 ON public.inventory_product USING btree (updated_by_id);


--
-- Name: permissionsystem_permissionmodule_code_46dca436_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX permissionsystem_permissionmodule_code_46dca436_like ON public.permissionsystem_permissionmodule USING btree (code varchar_pattern_ops);


--
-- Name: permissionsystem_permissionmodule_created_by_id_8503cc85; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX permissionsystem_permissionmodule_created_by_id_8503cc85 ON public.permissionsystem_permissionmodule USING btree (created_by_id);


--
-- Name: permissionsystem_permissionmodule_name_40ab5827_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX permissionsystem_permissionmodule_name_40ab5827_like ON public.permissionsystem_permissionmodule USING btree (name varchar_pattern_ops);


--
-- Name: permissionsystem_permissionmodule_updated_by_id_2c8d8ce3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX permissionsystem_permissionmodule_updated_by_id_2c8d8ce3 ON public.permissionsystem_permissionmodule USING btree (updated_by_id);


--
-- Name: permissionsystem_rolepermission_created_by_id_9a2fead3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX permissionsystem_rolepermission_created_by_id_9a2fead3 ON public.permissionsystem_rolepermission USING btree (created_by_id);


--
-- Name: permissionsystem_rolepermission_module_id_49b75bbd; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX permissionsystem_rolepermission_module_id_49b75bbd ON public.permissionsystem_rolepermission USING btree (module_id);


--
-- Name: permissionsystem_rolepermission_updated_by_id_324eefbb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX permissionsystem_rolepermission_updated_by_id_324eefbb ON public.permissionsystem_rolepermission USING btree (updated_by_id);


--
-- Name: accounts_user accounts_user_branch_id_38ec6caf_fk_core_branch_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_branch_id_38ec6caf_fk_core_branch_id FOREIGN KEY (branch_id) REFERENCES public.core_branch(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_groups accounts_user_groups_group_id_bd11a704_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_group_id_bd11a704_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_groups accounts_user_groups_user_id_52b62117_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_user_id_52b62117_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_user_permissions accounts_user_user_p_permission_id_113bb443_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_p_permission_id_113bb443_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_user_permissions accounts_user_user_p_user_id_e4f0a161_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_p_user_id_e4f0a161_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_academicsession core_academicsession_created_by_id_13b4d0bf_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_academicsession
    ADD CONSTRAINT core_academicsession_created_by_id_13b4d0bf_fk_accounts_user_id FOREIGN KEY (created_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_academicsession core_academicsession_updated_by_id_d61ddda3_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_academicsession
    ADD CONSTRAINT core_academicsession_updated_by_id_d61ddda3_fk_accounts_user_id FOREIGN KEY (updated_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_branch core_branch_created_by_id_206afc8e_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_branch
    ADD CONSTRAINT core_branch_created_by_id_206afc8e_fk_accounts_user_id FOREIGN KEY (created_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_branch core_branch_updated_by_id_806effbf_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_branch
    ADD CONSTRAINT core_branch_updated_by_id_806effbf_fk_accounts_user_id FOREIGN KEY (updated_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_product inventory_product_branch_id_f769f319_fk_core_branch_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_product
    ADD CONSTRAINT inventory_product_branch_id_f769f319_fk_core_branch_id FOREIGN KEY (branch_id) REFERENCES public.core_branch(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_product inventory_product_created_by_id_acb3b5df_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_product
    ADD CONSTRAINT inventory_product_created_by_id_acb3b5df_fk_accounts_user_id FOREIGN KEY (created_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_product inventory_product_updated_by_id_3c089172_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_product
    ADD CONSTRAINT inventory_product_updated_by_id_3c089172_fk_accounts_user_id FOREIGN KEY (updated_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: permissionsystem_permissionmodule permissionsystem_per_created_by_id_8503cc85_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissionsystem_permissionmodule
    ADD CONSTRAINT permissionsystem_per_created_by_id_8503cc85_fk_accounts_ FOREIGN KEY (created_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: permissionsystem_permissionmodule permissionsystem_per_updated_by_id_2c8d8ce3_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissionsystem_permissionmodule
    ADD CONSTRAINT permissionsystem_per_updated_by_id_2c8d8ce3_fk_accounts_ FOREIGN KEY (updated_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: permissionsystem_rolepermission permissionsystem_rol_created_by_id_9a2fead3_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissionsystem_rolepermission
    ADD CONSTRAINT permissionsystem_rol_created_by_id_9a2fead3_fk_accounts_ FOREIGN KEY (created_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: permissionsystem_rolepermission permissionsystem_rol_module_id_49b75bbd_fk_permissio; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissionsystem_rolepermission
    ADD CONSTRAINT permissionsystem_rol_module_id_49b75bbd_fk_permissio FOREIGN KEY (module_id) REFERENCES public.permissionsystem_permissionmodule(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: permissionsystem_rolepermission permissionsystem_rol_updated_by_id_324eefbb_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissionsystem_rolepermission
    ADD CONSTRAINT permissionsystem_rol_updated_by_id_324eefbb_fk_accounts_ FOREIGN KEY (updated_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict RVNTXNHGPsYdxZPcZEQDzm1AsyonsmAtvN83AZhp9HXak8b6bdhWdTLfllKCml6

