{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">
    ERP Dashboard
</h2>

<!-- Logout Button -->
<form method="post" action="/logout/">

    {% csrf_token %}

    <button class="btn btn-danger mb-4">

        Logout

    </button>

</form>

<div class="row">

    <div class="col-md-4">

        <div class="card shadow p-3">

            <h4>Total Products</h4>

            <h2>150</h2>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card shadow p-3">

            <h4>Total Sales</h4>

            <h2>$5000</h2>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card shadow p-3">

            <h4>Total Customers</h4>

            <h2>85</h2>

        </div>

    </div>

</div>

{% endblock %}